body {
  background-color: grey;
}

@media (max-width: 768px) {
  div[class^="angloModernDms"] > .container-fluid {
    left: 0;
    right: 0;
    max-width: 100% !important;
  }

  div[class^="headerImage"] {
    height: 140px !important;
  }
  
  div[class^="angloModernDms"] h1[class^="primaryHeading"] {
    font-size: 
  }

  div[class^="headerImage"] .col-10 img {
    max-width: 100%;
    height: auto;
    position: relative;
    top: 12px;
    max-height: none;
  }

  div[class^="bodyMainContent"] {
    padding: 0 !important;
  }
  
  div[class^="headerImage"] .col-10,
  div[class^="bodyMainContent"].col-10 {
    max-width: 100%;
    flex: 0 0 100%;
    margin: 0 15px;
  }

  div[class^="headerImage"] .col-10.offset-1,
  div[class^="bodyMainContent"].col-10.offset-1 {
    margin: 0;
  }
  
  /*SEARCH CSS*/
  div[class^="searchContainer"] .col-6 {
    max-width: 100%;
    flex: 0 0 100%;
  }
  div[class^="searchContainer"] .col-3 {
    max-width: 50%;
    flex: 0 0 50%;
  }
  div[class^="searchContainer"] div[class^="noPadding"] {
    padding-left: 15px;
  }
}
