/*MEDIA STYLE*/
@media (max-width: 768px) {
  /*COMMON STYLE*/
  div[class^="angloModernDms"] > .container-fluid {
    left: 0;
    right: 0;
    max-width: 100% !important;
  }
  div[class^="angloModernDms"] .col-6 {
    max-width: 100%;
    flex: 0 0 100%;
  }
  div[class^="bodyMainContent"] {
    padding: 0 !important;
  }
  div[class^="angloModernDms"] h1[class^="primaryHeading"] {
    font-size: 1.75rem;
    margin: 30px 0 30px -15px;
  }
  /*HEADER STYLE*/
  div[class^="headerImage"] {
    height: 140px !important;
  }
  div[class^="headerImage"] .col-10 img {
    max-width: 100%;
    height: auto;
    position: relative;
    top: 12px;
    max-height: none;
  }
  div[class^="headerImage"] .col-10,
  div[class^="bodyMainContent"].col-10 {
    max-width: 100%;
    flex: 0 0 100%;
    margin: 0 15px;
  }
  div[class^="headerImage"] .col-10.offset-1,
  div[class^="bodyMainContent"].col-10.offset-1 {
    margin: 0;
  }
  div[class^="bodyMainContent"] span[class^="menuIcon"] svg {
    height: 40px;
    width: 40px;
    position: absolute;
    top: -65px;
    right: 0px;
  }
  /*MENU STYLE*/
  div[class^="ms-Dialog-main"] {
    width: 95%;
  }
  div[class^="ms-Dialog-main"] div[class^="modalTopBar"] span[class^="menuCloseIcon"] {
    padding: 0;
  }
  div[class^="ms-Dialog-main"] div[class^="modalTopBar"] span[class^="menuCloseIcon"] svg {
    width: 35px;
    height: 35px;
  }
  div[class^="menuMainContentContainer"] {
    width: 100% !important;
    min-width: auto !important;
    float: none !important;
    margin: 0 auto;
  }
  div[class^="menuMainContentContainer"].row .col-6 {
    max-width: 100%;
    flex: 0 0 100%;
    width: 100%;
  }
  div[class^="menuMainContentContainer"].row div[class^="menuItemContainer"] {
    border-right: none;
    border-bottom: 2px solid #979797;
  }
  /*SEARCH STYLE*/
  div[class^="searchContainer"] div[class^="searchHeading"] {
    font-size: 20px !important;
    line-height: 30px !important;
  }
  div[class^="searchContainer"] .col-3 {
    max-width: 50%;
    flex: 0 0 50%;
  }
  div[class^="searchContainer"] div[class^="noPadding"] {
    padding-left: 15px;
  }
  div[class^="searchContainer"] .pr-0.col-6 {
    padding-right: 15px !important;
  }
  div[class^="ms-TextField is-active searchInputContainer_"],
  div[class^="ms-TextField searchInputContainer_"],
  div[class^="ms-Dropdown searchInput_"] span,
  div[class^="searchContainer"] div[class^="primaryButton"] {
    height: 40px !important;
    line-height: 40px;
  }
  div[class^="searchContainer"] div[class^="primaryButton"] {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  div[class^="ms-Dropdown searchInput_"] span {
    font-size: 15px;
  }
  /*EXPLORE MORE*/
  div[class^="standaradhub"] > .row {
    margin: 0 -15px;
  }
  div[class^="standaradhub"] .col-5 {
    max-width: 100%;
    flex: 0 0 100%;
    padding: 0 15px;
  }
  div[class^="standaradhub"] .col-5  div[class^="headingStandardHub"] {
    padding-left: 15px;
  }
  div[class^="standaradhub"] .col-3,
  div[class^="standaradhub"] .col-2 {
    max-width: 50%;
    flex: 0 0 50%;
    padding: 0 15px !important;
  }
  div[class^="standaradhub"] .col-3 > div,
  div[class^="standaradhub"] .col-2 > div {
    width: calc(100% - 30px) !important;
    margin: 0 auto 30px auto;
    height: auto !important;
    padding: 0 5px !important;
  }
  /*DOCUMENT STYLE*/
  div[class^="allDocumentsContainer"] div[class^="leftSection"] {
    margin-bottom: 20px;
    flex: 0 0 100%;
    max-width: 100%;
  }
  div[class^="allDocumentsContainer"] div[class^="leftSection"] + div.col-8 {
    max-width: 100%;
    flex: 0 0 100%;
  }
  div[class^="allDocumentsContainer"] div[class^="leftSection"] + div.col-8 div[class^="col"] {
    padding: 0;
  }
  div[class^="allDocumentsContainer"] div[class^="leftSection"] + div.col-8 div[class^="col"] div[class^="areaName"] {
    color: #c20325;
    font-size: 18px;
  }
  div[class^="allDocumentsContainer"] div[class^="leftSection"] + div.col-8 div[class^="col"] span[class^="disciplineName"] {
    padding-left: 15px;
    display: block;
  }
  div[class^="allDocumentsContainer"] div[class^="leftSection"] + div.col-8 div[class^="col"] span[class^="disciplineName"] + svg {
    position: absolute;
    top: 5px;
    right: 15px;
  }
  div[class^="allDocumentsContainer"] div[class^="leftSection"] + div.col-8 .accordion .mt-3 > .row:first-child .col-12 {
    display: flex;
    flex-direction: column;
    padding: 0 15px;
  }
  div[class^="allDocumentsContainer"] div[class^="leftSection"] + div.col-8 .accordion .mt-3 {
    border-bottom : 2px solid rgba(0,0,0,.25);
  }
  div[class^="allDocumentsContainer"] div[class^="leftSection"] + div.col-8 .accordion .mt-3 > .row:first-child .col-12 div[class^="standardName"],
  div[class^="allDocumentsContainer"] div[class^="leftSection"] + div.col-8 .accordion .mt-3 > .row:first-child .col-12 a {
    padding: 0;
    margin-bottom: 15px;
  }
  div[class^="allDocumentsContainer"] div[class^="leftSection"] + div.col-8 .accordion .mt-3 > .row:first-child .col-12 div[class^="viewFolderButton"] {
    margin: 0;
  }
  div[class^="allDocumentsContainer"] div[class^="leftSection"] + div.col-8 .accordion .mt-3 > .row > div[class^="documentGridContainer"] {
    padding: 0 25px;
  }
  div[class^="allDocumentsContainer"] div[class^="leftSection"] + div.col-8 .accordion .mt-3 > .row > div[class^="documentGridContainer"] div[class^="documentGrid"] div[class^="documentMenu"] {
    padding: 10px;
    right: 0;
    top: 25px;
  }
  div[class^="allDocumentsContainer"] div[class^="leftSection"] + div.col-8 .accordion .mt-3 > .row > div[class^="documentGridContainer"] div[class^="documentGrid"] div[class^="documentMenu"] span[class^="menuLinkIcon"] {
    display: none;
  }
  /*DOCUMENT DETAILS STYLE*/
  div[class^="DocDetailsContainer"] {
    padding: 0;
  }
  div[class^="DocDetailsContainer"] div[class^="DocItemRow"] div[class^="col-"] {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 5px;
  }
  /*NOTIFICATION STYLE*/
  div[class^="angloModernDms"] h2[class^="secondaryHeading"] {
    font-size: 20px;
  }
  div[class^="notificationCard"] > .row {
    margin-bottom: 15px;
  }
  div[class^="notificationCard"] > .row:last-child {
    margin-bottom: 5px;
  }
  
  /*SEARCH RESULT*/
  div[class^="searchPage"] > .no-gutters + .row + .row {
    align-items: center;
  }
  div[class^="searchPage"] > .no-gutters + .row + .row .col-3 {
    flex: 0 0 50%;
    max-width: 50%;
    margin: 0;
  }
  div[class^="searchPage"] > .row .col-4 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  div[class^="searchPage"] div[class^="documentCard"] {
    padding: 0 10px;
  }
  div[class^="searchPage"] div[class^="documentCard"] > .row:nth-child(1),
  div[class^="searchPage"] div[class^="documentCard"] > .row:nth-child(2) {
    margin-bottom: 0;
  }
  div[class^="searchPage"] div[class^="documentCard"] > .row:nth-child(3) {
    margin-bottom: 10px;
  }
  div[class^="searchPage"] div[class^="documentCard"] > .row div[class^="col"] {
    padding: 0 5px;
  }
  div[class^="searchPage"] div[class^="documentCard"] > .row .col-6 {
    flex: 0 0 50%;
    max-width: 50%;
    display: flex;
    margin-bottom: 7px;
    align-items: center;
  }
  div[class^="searchPage"] div[class^="documentCard"] > .row .col-6 span {
    white-space: nowrap;
    display: block;
    font-size: 13px;
    padding: 0 2px;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  div[class^="searchPage"] div[class^="documentCard"] > .row .col-6 > div {
    display: flex;
    align-items: center;
  }
  
  
}
